name: CI with Cache

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: prime-cache-fac69f3
      uses: actions/cache@v4
      with:
        key: cache-fac69f3
        path: ~/.cache  # Cache pip/node etc.; adjust if needed
